<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Enter your values:</h1>
<form action="" method="post" name="mainform">
    {{form.hidden_tag()}}
    <p>
        VDOT value:{{form.vdot(size=5)}}
    </p>
    <p><input type="submit" value="Submit"></p>
</form>

{% if vdotjson != '' %} 
    <table border=0>
    {% for i in vdotjson %}
    <tr><td>{{ i.distance }}</td><td>{{ i.time }}</td></tr>
    {% endfor %}
    </table>
{% else %}
    {{ vdotjson }} 
{% endif %}

{% endblock %}