{% extends "base.html" %}
{% block content %}
<h1>Enter your values:</h1>
<form action="" method="post" name="mainform">
    {{form.hidden_tag()}}
    <p>
        Distance in meters:{{form.distance(size=5)}} Time: {{form.time_hour(size=2)}}:{{form.time_mins(size=2)}}:{{form.time_secs(size=2)}}
    </p>
    <p>
        <input type="submit" value="Calculate">
    </p>
</form>

{% if vdotjson != '' %}
    <p>&nbsp;&nbsp;&nbsp;&nbsp;VDOT: {{vdotjson.VDOT }}
{% else %}
    <p>&nbsp;
{% endif %}

{% endblock %}